name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Backend Docker Image
        run: docker build -t stress-backend ./backend

      - name: Build Frontend Docker Image
        run: docker build -t stress-frontend ./frontend